table, tr, td, th{
    border: 1px solid;
}
table{
    
    text-align: center
}


form input{ 
    display: block;

}

.col-1{
    width: 50%;
    
}

.col-2{
    width: 30%;
    
}

body{
    display: flex;
}